<img class="emotionsIcon" src="images/emotions.png" alt="emotion-icon">
<h2>How are you feeling?</h2>
<div class="emotionalStatus">
  <img class="emotionIndicator" src="images/happy.png" alt="happy-icon">
  <input type="radio" id="happy" name="currentStatus" value="happy" checked>
  <img class="emotionIndicator" src="images/sad.png" alt="sad-icon">
  <input type="radio" id="sad" name="currentStatus" value="sad">
  <img class="emotionIndicator" src="images/angry.png" alt="angry-icon">
  <input type="radio" id="angry" name="currentStatus" value="angry">
  <img class="emotionIndicator" src="images/confused.png" alt="confused-icon">
  <input type="radio" id="confused" name="currentStatus" value="confused">
  <button class="submit-status btn">Submit Status</button>
</div>
