.inputs {
    margin-top: .5em;
    margin-bottom: .5em;
}

.text, .time, .administration, .reason, .new-medication {
    padding: .4em;
}

.text {
    width: 332px;
    margin-left: auto;
    margin-right: auto;
}

.textbox {
    background-color: #f9fbfd;
}

.drugname .textbox {
    width: calc(100% - 100px);
}

.dosage .textbox {
    width: calc(100% - 73px);
}

.amount .textbox {
    width: calc(100% - 152px);
}

.administration p {
    display: inline-block;
}

.administration label,
.time label {
    font-style: italic;
}

.picture {
    display: none;
}

.new-medication {
    font-weight: bold;
    font-style: italic;
    transition: 1s opacity;
}