* {
	font-family: 'Raleway', sans-serif;
	padding: 0;
	margin: 0;
	background-color: #ebf5fa;
}

nav {
	display: flex;
	justify-content: space-between;
	text-align: right;
	background-image: linear-gradient(to right, #0f87c3, #068bcd, #49b9f2, #49b9f2, lightblue);
}

header {
	text-align: center;
	text-decoration: underline;
	padding-top: 2%;
	color: #04496b;
}

.logo {
	display: flex;
	text-align: left;
	height: 3em;
	justify-content: center;
	background: transparent;
}

nav a {
	display: flex;
	padding: 0.5em;
	text-align: right;
	text-decoration: none;
	color: #04496b;
	background: transparent;
}

nav a:visited {
	color: #04496b;
	background: transparent;
}

nav a:hover {
	opacity: 0.6;
	background: transparent;
}

nav h2 {
	background: transparent;
}

.dashboard {
	display: grid;
	grid-template-rows: auto;
	justify-content: center;
	align-items: left;
	height: 100%;
}

.container {
	text-align: center;
}

div {
	text-align: center;
	padding: 0.5em;
}

label, p {
	font-size: 18px;
}

label {
	display: block;
}

textarea {
	margin-top: .5rem;
	padding: 2.5px;
	height: 8em;
	width: 30em;
	font-size: 16px;
	background: #fff;
}

button {
	padding: 4%;
}

footer {
	text-align: center;
	color: black;
	padding-top: 15%;
}

@media screen and (max-width: 600px) {
	.dashboard {
		grid-template-columns: 1fr;
		grid-column-gap: 1em;
		width: 60vw;
		margin: 1em auto;
		position: relative;
	}
	footer {
		position: relative;
	}
}

@media screen and (max-width: 40em) {
	.dashboard {
		grid-template-columns: 1fr;
		grid-column-gap: 1em;
		margin: 1em auto;
		position: relative;
	}
	footer {
		position: relative;
	}
}

@media screen and (max-width: 25em) {
	.dashboard {
		grid-template-columns: 1fr;
		grid-column-gap: 1em;
		margin: 1em auto;
		position: relative;
	}
	
		nav h2 {
		width: auto;
		min-width: unset;
		max-width: 100%;
		position: relative;
	}
	
    nav.open h2 {
      visibility: hidden;
      display: block;
      max-width: 90%;
    }
}