* {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #ebf5fa;
}


nav {
  display: flex;
  justify-content: space-between;
  text-align: right;
  background-image: linear-gradient(to right,
    #0f87c3,
    #068bcd,
    #49b9f2,
    #49b9f2,
    lightblue);
}

.logo {
  display: flex;
  text-align: left;
  height: 3em;
  justify-content: center;
  background: transparent;
}

nav a {
  display: flex;
  padding: 0.5em;
  text-align: right;
  text-decoration: none;
  color: #04496b;
  background: transparent;
}

nav a:visited {
  color: #04496b;
  background: transparent;
}

nav a:hover {
  opacity: 0.6;
  background: transparent;
}

nav h2 {
  background: transparent;
}

.dashboard {
  height: 100%;
  grid-gap: 5%;
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

header {
  text-align: center;
  text-decoration: underline;
  padding-top: 2%;
  color: #04496b;
}

li {
  list-style: none;
}

section {
  display: flex;
  flex-direction: column;
  height: 10em;
  padding: 1em 1em;
  background-image: linear-gradient(#0f87c3, #068bcd 0%, #49b9f2 100%);
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(169, 201, 255, .4);
  transition: 0.3s ease-in-out;
  align-items: center;
  justify-content: center;
}

.medication h3 {
  background: transparent;
}

.medication p {
  background: transparent;
}

med-button {

}

.log-medication button {
  background: transparent;
  height: 2em;
  border: none;
  background-image: linear-gradient(#0f87c3, #068bcd 0%, #49b9f2 100%);
  font-size: medium;
  border-radius: 10px;
  padding: 2%;
  outline: transparent;
  text-align: center;
}

.log-medication button:hover {
  transform: scale(1.02);
  box-shadow: 0 15px 20px rgba(169, 201, 255, .6);
}

.log-medication {
  padding: 0;
  margin: 2%;
  height: 2em;
  text-align: center;
  align-items: center;
  justify-content: center;
}

footer {
  text-align: center;
  color: black;
  padding-top: 15%;
}

@media screen and (max-width: 750px) {
	.dashboard {
     display: flex;
      flex-direction: column;
      justify-content: center;
	}
}

@media screen and (max-width: 40em) {
	.dashboard {
		grid-template-columns: 1fr;
		grid-column-gap: 1em;
		margin: 1em auto;
		position: relative;
	}
	footer {
		position: relative;
	}
}

@media screen and (max-width: 25em) {
	.dashboard {
		grid-template-columns: 1fr;
		grid-column-gap: 1em;
		margin: 1em auto;
		position: relative;
	}
	
		nav h2 {
		width: auto;
		min-width: unset;
		max-width: 100%;
		position: relative;
	}
	
    nav.open h2 {
      visibility: hidden;
      display: block;
      max-width: 90%;
    }
}
