.show-one {
    display: none;
}

.show-all {
    display: none;
}

.display-status {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.status {
    padding: 5px;
}

.statusChange,
.add-med-question {
    margin-bottom: .5em;
}

.history-question {
    margin-top: .5em;
}