* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    border-radius: 15px;
    max-width: auto;
    padding: 1.2rem 2rem 0 2rem;
    background: rgb(203, 223, 203);
}

.container {
    box-sizing: border-box;
    box-shadow: 0 0 8px 5px rgba(16, 18, 19, 0.664);
    max-width: auto;
    text-align: left;

}

header h1 {
	text-align: center;
	font-weight: 200;
	color: rgba(0, 0, 0, .7);
	margin: 0px 0px 0px 0px;
}

nav {
	border-top: 1px solid var(- -white);
	text-align: right;
	padding: 2rem 2rem;
	background: #333;
}

nav a {
	padding: 0.5em 2em;
	text-decoration: none;
	color: rgb(12, 23, 234);	
	
}

nav a:hover {
	background: #666;
}

footer {
	text-align: center;
	color: rgb(12, 23, 234);
	padding-bottom:2rem;
}

  @media screen and (max-width: 750px) {

    nav {
      display: flex;
      flex-flow: column;
    }
    nav a {
      display: none;
    }
    nav::before {
      content: 'SHOW NAV';
      color: rgb(12, 11, 11);
      background: aqua;
      font-weight: bold;
      padding: 0.5em 2em;
    }
    nav.open::before {
      content: 'HIDE NAV';
    }
    nav.open a {
      display: block;
    }
  
    nav ::selection {
      color: inherit;
      background: transparent;
    }
  }