<!DocType html>
<html>
    <head>
        <title>Peace of Mind Application</title>
    </head>
    <body>
        <header>
            <h1>Testing</h1>
        </header>
        <main>
        <div class="container">
            <button class="item">Patient</button>
            <button class="item">Meds</button>
            <button class="item">Emergency Contact</button>
            <button class="item">Address</button>
            <button class="item">Emoticon</button>
            <button class="item">Med Logs</button>
            <button class="item">Feeling</button>
            <button class="item">Calender</button>

        </div>
     </main>
        <footer id="footer">
            <span>&copy; 2018 Peace Of Mind App Wcci Final project</span>
        </footer>
        <link rel="stylesheet" href="./styles.css">
    </body>

</html>