<header>
   <h2>Peace of Mind Application</h2>
  <h3>Application Phase 1</h3>
</header>
<section>
  <article>
    <div>
      <h2>Patient</h2>
    </div>
  </article>
    <article>
    <div>
      <h2>Medications</h2>
    </div>
  </article>
   <article>
    <div>
      <h2>Emergency Contact</h2>
    </div>
  </article>
    <article>
    <div>
      <h2>Address</h2>
    </div>
  </article>
    <article>
    <div>
      <h2>Emoticon</h2>
    </div>
  </article>
    <article>
    <div>
      <h2>Medication Logs</h2>
    </div>
  </article>
    <article>
    <div>
      <h2>Feeling</h2>
    </div>
  </article>
    <article>
    <div>
      <h2>Calender</h2>
    </div>
  </article>
</section>
<footer>
  <h4>Made by Macharia Kuria</h4>
</footer>