<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <title>Peace of Mind - Login</title>
</head>

<body class="container">
    <header>
        <h2>Welcome</h2>
    </header>
    <form method="GET">
        <div>
            <label>Username:</label>
            <input type="text" name="userName">
        </div>
        <div>
            <label>Password:</label>
            <input type="text" name="password">
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>

    <footer>
        <span>&copy; 2018 Peace Of Mind WCCI Flex Fall Columbus Final project</span>
    </footer>
</body>

</html>
