<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<title>Peace Of Mind - Medication Adherence</title>
	<link href="/css/non-med-styles.css" rel="stylesheet">
	<link href="/css/grid-medHistory.css" rel="stylesheet">
	<link href="/css/button.css" rel="stylesheet">
</head>

<body class="container">

	<header>
		<nav>
			<img class="logo" src="images/logo.png" alt="logo">
			<h2>
				<a th:href="@{/medical-user-home(id=${medicalUser.id})}">Home</a>

			</h2>
		</nav>
	</header>

	<div class="dashboard" th:if="${medicalUser.patient}" th:each="patient : ${medicalUser.patient}">


		<section class="medTracker" th:if="${medicationTrackers}">
			<h3>Medication Adherence</h3>
			<h4>This Year</h4>

			<div th:each="medTracker : ${medicationTrackers}">
				<div class="grid-container">
					<p class="item-1" th:text=${medTracker.date}></p>
					<p class="item-2" th:text=${medTracker.medication.genericName}></p>
					<div class="item-3" th:switch="${medTracker.dosesMissed}">
						<p th:if="${medTracker.dosesMissed} == 0">Compliant</p>
						<p th:unless="${medTracker.dosesMissed} == 0" class="noncompliant">[[${medTracker.dosesMissed}]] doses missed</p>
					</div>
				</div>
			</div>
		</section>
		
		<a th:href="@{/medical-user-home(id=${medicalUser.id})}"><button>Return To Main Page</button></a>

	</div>

	<footer>
		<small>&copy; 2018 Peace Of Mind WCCI Flex Fall Columbus Final project</small>
	</footer>

</body>

</html>
