<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Peace Of Mind</title>
	<link href="/css/non-med-styles.css" rel="stylesheet">
	<link href="/css/grid-medHistory.css" rel="stylesheet">
</head>

<body class="container">

	<header>
		<nav>
			<img class="logo" src="images/logo.png" alt="logo">
			<h2>
				<a th:href="@{/medical-user-home(id=${medicalUser.id})}">Home</a>

			</h2>
		</nav>
	</header>

	<div class="dashboard" th:if="${medicalUser.patient}" th:each="patient : ${medicalUser.patient}">


		<section class="medTracker" th:if="${medicationTrackers}">
			<h3>Medication Adherence</h3>
			<p>This Year</p>

			<div th:each="medTracker : ${medicationTrackers}">
				<div class="grid-container">
					<p class="item-1" th:text=${medTracker.date}></p>
					<p class="item-2" th:text=${medTracker.medication.genericName}></p>
					<p class="item-3" th:classappend="(${medTracker.dosesMissed} > 0) ? noncompliant : '' ">[[${medTracker.dosesMissed}]] doses missed</p>
				</div>
			</div>
		</section>
		
	</div>

	<footer>
		<small>&copy; 2018 Peace Of Mind WCCI Flex Fall Columbus Final project</small>
	</footer>

</body>

</html>
