<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Peace Of Mind</title>
	<link href="/css/non-med-styles.css" rel="stylesheet">
</head>

<body class="container">

	<header>
		<nav>
			<img class="logo" src="images/logo.png" alt="logo">
			<h2>
				<a th:href="@{/non-medical-user-home(id=${nonMedicalUser.id})}">Home</a>

			</h2>
		</nav>
	</header>

	<div class="dashboard" th:if="${nonMedicalUser.patient}" th:each="patient : ${nonMedicalUser.patient}">


		<section class="medTracker" th:if="${medicationTrackers}">
			<h3>Medication Adherence</h3>
			<p>This Year</p>

			<div th:each="medTracker : ${medicationTrackers}">
				<p th:text=${medTracker.date}></p>
				<p th:text=${medTracker.medication.genericName}></p>
				<p>[[${medTracker.dosesMissed}]] doses missed</p>
			</div>
		</section>

	</div>

	<footer>
		<small>&copy; 2018 Peace Of Mind WCCI Flex Fall Columbus Final project</small>
	</footer>

</body>

</html>
