<header>
   <h2>Peace of Mind Application</h2>
  <h3>Application Phase 1</h3>
</header>
<section class="container">
  <article>
    <div id="patient">
      <h2>Patient</h2>
    </div>
  </article>
    <article>
    <div id="medication">
      <h2>Medications</h2>
    </div>
  </article>
   <article>
    <div id="contact">
      <h2>Emergency Contact</h2>
    </div>
  </article>
    <article>
    <div id="address">
      <h2>Address</h2>
    </div>
  </article>
</section>
<footer>
  <span>&copy; Peace of Mind WCCI Final project</span>
</footer>
