<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>A Medical User</title>
</head>
<body class="container">
   <article id="content">
           <h1>Your Information</h1>
           <div id="content-body" th:each="medUser: ${medicalUsers}">

               <p class="stats" id="userName">YourUsername: [[${medUser.userName}]]</p>
               <p class="stats" id="name">Name: [[${medUser.firstName}]] [[${medUser.lastName}]]</p>
               <p class="stats" id="contactInfo">Contact Info:</p>
               <ul>
                   <li th:text="${medUser.contactInfo.address}"></li>
                   <li th:text="${medUser.contactInfo.phone}"></li>
                   <li th:text="${medUser.contactInfo.email}"></li>
               </ul>
               <p class="stats" id="specialty">Specialty: [[${medUser.medicalSpecialty}]]</p>
               <p class="stats" id="institution">Institution: [[${medUser.medicalInstitution}]]</p>
               <p class="stats" id="phone">Institution Phone #: [[${medUser.institutionTelephone}]]</p>
           </div>
   </article>

   <section class="patient">
       <div th:if="${medicalUsers.patient}">
           <h2>Your Patient</h2>
           <div th:each="patient : ${medicalUsers.patient}">
               <h3 th:text="|${patient.firstName} ${patient.lastName}|"></h3>
               <ul>
                   <li>Diagnosis: [[${patient.diagnosis}]]</li>
                   <li>Contact</li>
                   <ul>
                       <li th:text="${patient.contactInfo.address}"></li>
                       <li th:text="${patient.contactInfo.phone}"></li>
                       <li th:text="${patient.contactInfo.email}"></li>
                   </ul>
                   <li>Recent Status: <span><em>placeholder for patient emotion</em></span></li>
                </ul>

                <section class="medication">
                    <div th:if="${patient.medications}">
                        <h3>Medications</h3>
                        <div th:each="medication : ${patient.medications}">
                            <h4 th:text="${medication.genericName}"></h4>
                            <p>Reason for administration: <span th:text="${medication.reason}"></span></p>
                            <p>Doasge: <span th:text="${medication.dosage}"></span> via <span th:text="${medication.administration}"></span> every <span th:text="${medication.frequencyAmount}"></span> <span th:text="${medication.frequencyTime}"></span></p>
                            <img class="medication-image" src="${medication.picture}" alt="Medication Image Here" />
                        </div>
                    </div>
                </section>

                <section class="nonMedUser">
                    <div th:if="${patient.nonMedicalUser}">
                        <h3><span th:text="${patient.firstName}"></span>'s Caregiver</h3>
                        <div th:each="nonMedUser : ${patient.nonMedicalUser}">
                            <h4 th:text="|${nonMedUser.firstName} ${nonMedUser.lastName}"></h4>
                            <ul>
                                <li>Relationship to Patient: <span th:text="${nonMedUser.relationshipWithPatient}">unknown</span></li>
                                <li>Contact</li>
                                <ul>
                                    <li th:text="${nonMedUser.contactInfo.address}"></li>
                                    <li th:text="${nonMedUser.contactInfo.phone}"></li>
                                    <li th:text="${nonMedUser.contactInfo.email}"></li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </section>

            </div>
       </div>
   </section>


   <footer>
       <span>&copy; 2018 Peace Of Mind WCCI Flex Fall Columbus Final project</span>
   </footer>

</body>
</html>
