<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Patient-Medications</title>
  <link href="/css/medications-style.css" rel="stylesheet">
  <script type="text/javascript">
    function asyncAddMedicationLog(evt){
        // /show-patients/{patientId}/patient-medication-log-update"
        let sPayload = "http://localhost:8080/show-patients/" + [[${patient.getId()}]] + "/patient-medication-log-update?medicationId=" + evt.target.getAttribute('data-medicationId');
        fetch(sPayload).then(
          (response) => response.text()
        ).then(
          (text) => {
            evt.target.parentElement.insertAdjacentHTML(`beforebegin`, text);
            evt.target.parentElement.style.display = "none";
          }
        ).catch(
          (error) => console.log(`asyncAddReview fetch attempt to ${sPayload}: error.getMessage()`)
        );
    }
    document.addEventListener("readystatechange", (evt) => {
        if(evt.target.readyState==="complete"){
          const oButtonCollection = document.querySelectorAll('.log-medication button');
          for(let i in oButtonCollection){
            //if(i==0 || i==1){ console.log(`In readyState event. The i of oButtonCollection is: ${typeof i} and oBUttonCollection has own property: ${oButtonCollection.hasOwnProperty(i)}`);}
            if(oButtonCollection.hasOwnProperty(i)){
              console.log(`In readyState event, in loop, in conditional`);
              oButtonCollection[i].addEventListener("click", asyncAddMedicationLog);
            }
          }
        }
      }
    );
    </script>
</head>

<body class="container">

  <nav>
    <img class="logo" src="images/logo.png" alt="logo">
    <h2>
      <a th:href="@{/patient-home(id=${patient.id})}">Home</a>
    </h2>
  </nav>
  <header>
    <h2>My Medications</h2>
  </header>
  <div class="dashboard" th:if="${patient.medications}">

    <div class="med-button" th:each="medication : ${medications}">
      <section class="medication">
        <h3>[[${medication.genericName}]]</h3>
        <p>Reason to Take: [[${medication.reason}]]</p>
        <p>Please take [[${medication.dosage}]] via [[${medication.administration}]] every [[${medication.frequencyAmount}]] [[${medication.frequencyTime}]]</p>
        <div th:if="${medication.picture}">
          <img class="medication-image" src="${medication.picture}" alt="Medication Image Here" />
        </div>
      </section>
      <div class="log-medication">
            <button th:attr="data-medicationId=${medication.getId()}">Dose Taken</button>
      </div>
    </div>

  </div>

  <footer>
    <span>&copy; 2018 Peace Of Mind WCCI Flex Fall Columbus Final project</span>
  </footer>

</body>

</html>
