<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Peace Of Mind</title>
	<link href="/css/non-med-styles.css" rel="stylesheet">
	<link href="/css/personal-info.css" rel="stylesheet">
</head>

<body class="container">
	<div>

		<header>
			<nav>
				<img class="logo" src="images/logo.png" alt="logo">
				<h2>
					<a th:href="@{/non-medical-user-home(id=${nonMedicalUser.id})}">Home</a>
				</h2>
			</nav>
		</header>

		<div class="dashboard">
			<section class="account-info">
				<h2>Your Account Information</h2>
				<p>Your Username: [[${nonMedicalUser.userName}]]</p>
				<p>Name: [[${nonMedicalUser.firstName}]] [[${nonMedicalUser.lastName}]]</p>
				<p>Contact Information:</p>
				<p>[[${nonMedicalUser.contactInfo.address}]]</p>
				<p>[[${nonMedicalUser.contactInfo.email}]]</p>
				<p>[[${nonMedicalUser.contactInfo.phone}]]</p>

				<section class="associated-patient">
					<div th:if="${nonMedicalUser.patient}" th:each="patient : ${nonMedicalUser.patient}">
					<h2>Your Loved One's Account: [[${patient.firstName}]] [[${patient.lastName}]]</h2>
						<article class="medication">
							<div th:if="${patient.medications}">
								<h3>Medications</h3>
								<div class="med-container" th:each="medication : ${patient.medications}">
									<h4 class="par-container collapsed-par" >
										[[${medication.genericName}]]
										<span class="up-arrow">
											&#x25BC;
											
										</span>
										<span class="down-arrow">
											&#9650;
										</span>
									</h4>
									<div class="paragraph-copy">
										<p>Reason for administration: [[${medication.reason}]]</p>
										<p>Dosage: [[${medication.dosage}]] via
											[[${medication.administration}]] every
											[[${medication.frequencyAmount}]]
											[[${medication.frequencyTime}]]</p>
									</div>
								</div>
							</div>
						</article>

						<article class="patient">
							<div>
								<h3>Contact Information</h3>
								<ul>
									<li th:if="${patient.contactInfo.address}">[[${patient.contactInfo.address}]]</li>
									<li th:if="${patient.contactInfo.phone}">[[${patient.contactInfo.phone}]]</li>
									<li th:if="${patient.contactInfo.email}">[[${patient.contactInfo.email}]]</li>
								</ul>
							</div>
					</div>
					</article>

				</section>
			</section>

		</div>
		<script src="./js/javascript.js"></script>
		<footer>
			<small>&copy; 2018 Peace Of Mind WCCI Flex Fall Columbus
				Final project</small>
		</footer>
</body>

</html>
