<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Peace Of Mind</title>
</head>

<body class="container">
  <div th:each="nonMedicalUser: ${nonMedicalUsers}">
    <header>
      <h2>Peace of Mind</h2>
      <h3>
        <a th:href="@{/non-medical-user(id=${nonMedicalUser.id})}">Account</a>
      </h3>
    </header>

    <section class="patient">
      <div th:if="${nonMedicalUser.patient}" th:each="patient : ${nonMedicalUser.patient}">
        <h2>Patient Information</h2>
        <div>
          <h3>[[${patient.firstName}]] [[${patient.lastName}]]</h3>
          <ul>
            <li>Diagnosis: [[${patient.diagnosis}]]</li>
            <li>Contact</li>
            <ul>
              <li th:if="${patient.contactInfo.address}">[[${patient.contactInfo.address}]]</li>
              <li th:if="${patient.contactInfo.phone}">[[${patient.contactInfo.phone}]]</li>
              <li th:if="${patient.contactInfo.email}">[[${patient.contactInfo.email}]]</li>
            </ul>
            <li>Recent Status: <span><em>placeholder for patient emotion</em></span></li>
          </ul>
        </div>
        
        <section class="medUser">
          <div th:if="${patient.medicalUser}" th:each="medicalUser : ${patient.medicalUser}">
            <h3>Medical Personnel Information</h3>
            <div>
              <h4>[[${medicalUser.firstName}]] [[${medicalUser.lastName}]]</h4>
              <ul>
                  <li>Specialty: <span th:text="${medicalUser.medicalSpecialty}">unknown</span></li>
                  <li>Institution: <span th:text="${medicalUser.medicalInstitution}">unknown</span></li>
                  <li>Institution Phone: <span th:text="${medicalUser.institutionTelephone}">unknown</span></li>
                  <li>Other Contact Methods</li>
                  <ul>
                    <li th:if="${medicalUser.contactInfo.phone}">[[${medicalUser.contactInfo.phone}]]</li>
                    <li th:if="${medicalUser.contactInfo.email}">[[${medicalUser.contactInfo.email}]]</li>
                  </ul>
              </ul>
            </div>
          </div>
        </section>

        <section class="medication">
            <div th:if="${patient.medications}">
                <h3>Medications</h3>
                <div th:each="medication : ${patient.medications}">
                    <h4>[[${medication.genericName}]]</h4>
                    <p>Reason for administration: [[${medication.reason}]]</p>
                    <p>Dosage: [[${medication.dosage}]] via [[${medication.administration}]] every [[${medication.frequencyAmount}]] [[${medication.frequencyTime}]]</p>
                    <img class="medication-image" src="${medication.picture}" alt="Medication Image Here" />
                </div>
            </div>
        </section>

      </div>
    </section>


    <section class="medLog">
      <div>
        <h2>Med Log</h2>
        <div>
          <p> <em>place holder for medlog display</em> </p>
        </div>
    </section>
  </div>
  <footer>
    <span>&copy; Peace of Mind WCCI Final project</span>
  </footer>
</body>

</html>
