<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Medications Account</title>
</head>

<body class="container">
    <header>
        <h2>Create a New Medication</h2>
    </header>
    <form method="POST">
        <div>
            <label>Enter Medication Name</label>
            <input type="text" name="genericName">
        </div>
        <div>
            <label>Enter Dosage</label>
            <input type="text" name="dosage">
        </div>
        <div>
            <label>Enter Frequency</label>
            <input type="text" name="frequencyAmount">
        </div>
        <div>
            <label>Enter Time</label>
            <input type="text" name="frequencyTime">
        </div>
        <div>
            <p>Medication Picture</p>
            <img src="../static/images/need-meds.png">
            <div>
                <label>Enter Reason</label>
                <input type="text" name="reason">
            </div>
            <div>
                <button type="">Submit</button>
            </div>
    </form>
    <h3>
        <a th:href="@{/non-medical-user-home(id=${nonMedicalUser.id})}">Home</a>
    </h3>
    <footer>
        <span>&copy; 2018 Peace Of Mind WCCI Flex Fall Columbus Final project</span>
    </footer>
</body>

</html>