<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <title>Peace Of Mind - Personal Info</title>
  <link href="/css/styles.css" rel="stylesheet">
</head>

<body class="container">

  <nav>
    <img class="logo" src="images/logo.png" alt="logo">
    <h2>
      <a th:href="@{/patient-home(id=${patient.id})}">Home</a>
    </h2>
  </nav>

    <div class="dashboard">
      <section class="userInfo">
        <h2>Your Information</h2>
        <div>
          <p>Name: [[${patient.firstName}]] [[${patient.lastName}]]</p>
          <p>Contact Info:</p>
          <ul th:if="${patient.contactInfo}">
            <li th:if="${patient.contactInfo.address}">[[${patient.contactInfo.address}]]</li>
            <li th:if="${patient.contactInfo.phone}">[[${patient.contactInfo.phone}]]</li>
            <li th:if="${patient.contactInfo.email}">[[${patient.contactInfo.email}]]</li>
          </ul>
          <p>DOB: [[${patient.dateOfBirth}]]</p>
          <p>Diagnosis: [[${patient.diagnosis}]]</p>
        </div>
      </section>
    </div>

    <footer>
      <small>&copy; 2018 Peace Of Mind WCCI Flex Fall Columbus Final project</small>
    </footer>

</body>

</html>
