<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>A Patient</title>
</head>
<body class="container">
    <h1>Your Information</h1>
    <div th:each="patient: ${patients}">
        <p>Name: [[${patient.firstName}]] [[${patient.lastName}]]</p>
        <p>Contact Info:</p>
        <ul th:if="${patient.contactInfo}">
            <li th:if="${patient.contactInfo.address}">[[${patient.contactInfo.address}]]</li>
            <li th:if="${patient.contactInfo.phone}">[[${patient.contactInfo.phone}]]</li>
            <li th:if="${patient.contactInfo.email}">[[${patient.contactInfo.email}]]</li>
        </ul>
        <p>DOB: [[${patient.dateOfBirth}]]</p>
        <p>Diagnosis: [[${patient.diagnosis}]]</p>
    </div>

    <section class="medUser">
        <div th:if="${patients.nonMedicalUser}">
            <h2>Caregiver</h2>
            <div th:each="nonMedUser : ${patients.nonMedicalUser}">
                <h3>[[${nonMedUser.firstName}]] [[${nonMedUser.lastName}]]</h3>
                <p>Contact</p>
                <ul>
                    <li th:if="${nonMedUser.contactInfo.address}">[[${nonMedUser.contactInfo.address}]]</li>
                    <li th:if="${nonMedUser.contactInfo.phone}">[[${nonMedUser.contactInfo.phone}]]</li>
                    <li th:if="${nonMedUser.contactInfo.email}">[[${nonMedUser.contactInfo.email}]]</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="medUser">
        <div th:if="${patients.medicalUser}">
            <h2>Medical Care Professionals</h2>
            <div th:each="medUser : ${patients.medicalUser}">
                <h3>[[${medUser.firstName}]] [[${medUser.lastName}]]</h3>
                <p>Medical Specialty: <span th:text="${medUser.medicalSpecialty}">unknown</span></p>
                <p>Medical Care Center: <span th:text="${medUser.medicalInstitution}">unknown</span></p>
                <p>Medical Center Phone Number: <span th:text="${medUser.institutionTelephone}">unknown</span></p>
                <p>Contact</p>
                <ul>
                    <li th:if="${medUser.contactInfo.phone}">[[${medUser.contactInfo.phone}]]</li>
                    <li th:if="${medUser.contactInfo.email}">[[${medUser.contactInfo.email}]]</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="medication">
        <div th:if="${patients.medications}">
            <h2>Medications</h2>
            <div th:each="medication : ${patients.medications}">
                <h3>[[${medication.genericName}]]</h3>
                <p>Reason to Take: [[${medication.reason}]]</p>
                <p>Please take [[${medication.dosage}]] via [[${medication.administration}]] every [[${medication.frequencyAmount}]] [[${medication.frequencyTime}]]</p>
                <img class="medication-image" src="${medication.picture}" alt="Medication Image Here" />
            </div>
        </div>
    </section>

    <footer>
        <span>&copy; 2018 Peace Of Mind WCCI Flex Fall Columbus Final project</span>
    </footer>

</body>

</html>