<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Peace Of Mind</title>
	<link href="/css/non-med-styles.css" rel="stylesheet">
</head>

<body class="container">

	<header>
		<nav>
			<img class="logo" src="images/logo.png" alt="logo">
			<h2>
				<!-- <a th:href="@{/non-medical-user(id=${nonMedicalUser.id})}">Account</a> -->

			</h2>
		</nav>
	</header>

    <div class="dashboard">
        <h2>Status History for [[${patient.firstName}]] [[${patient.lastName}]]</h2>
    
        <section class="status" th:each="status: ${patientStatuses}">
            <img th:src="@{'images/' + ${status.status.getImageFile()}}">
            <p>Entered at [[${status.printDateTime()}]]</p>
        </section>
        
    </div>

</body>
</html>
