<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="/css/login-style.css" rel="stylesheet">
    <title>Peace of Mind - Login</title>
</head>

<body class="container">
    <header class= "banner">
        <img class="logo" src="images/logo.png" alt="logo">
    </header>
    <form method="GET">
        <div>
            <label>Username</label>
            <input type="text" name="userName">
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password">
        </div>
        <div>
            <button type="submit" th:formaction="@{login}">Login</button>
        </div>
    </form>

    <footer>
        <span>&copy; 2018 Peace Of Mind WCCI Flex Fall Columbus Final project</span>
    </footer>
</body>


</html>
